body {
    padding: 0;
    margin: 0;
  }
  
  #map,
  body,
  html {
    height: 100%;
  }
  
  h1 {
    text-align: center;
  }
  
  
  .legend {
    line-height: 18px;
    color: #555;
    background-color: white;
  }
  .legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 1;
  }